<div class="text-center">
  <h1>Bookstore</h1>
  <span>Find some original books here!</span>
  <hr>
  <p class="btn btn-dark"><%= link_to "Go to our Dashboard", dashboard_path, class: "nav-link" %></p>
</div>
